/web/js
/web/css
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/web/fonts
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/
/web/.htaccess
/.htaccess
