AddHandler application/x-httpd-php55 .php

Options +FollowSymLinks

	RewriteBase /

    RewriteEngine on


	RewriteCond %{REQUEST_URI} !^/web/
	RewriteCond %{REQUEST_URI} !^/docs/

RewriteCond %{HTTP_HOST} ^www\.
RewriteCond http%1://%{HTTP_HOST} ^(https?://)(www\.)?(.+)$
RewriteRule ^ %1%3%{REQUEST_URI} [R=301,L]

    RewriteCond %{HTTP_HOST} ^(www\.)?setzo\.
	RewriteRule ^(.*)$ /web/$1 [L]

    RewriteCond %{HTTP_HOST} ^(www\.)?wpruszak\.
	RewriteRule ^(.*)$ /web/$1 [L]

